body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 50px;
}

ol, ul {
  padding-left: 30px;
}

.header {
    text-align: center;
    font-size: 5rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 4rem;
  font-weight: bold;
  line-height: 34px;
  height: 20vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 20vh;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.game-info {
  font-size: 1rem;
  margin-left: 50px;
}
